.jumbotron{
    background-color: burlywood;
    color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: burlywood;
    margin-bottom:0px;
    margin-top: 10px;
    bottom: 0;
    color: white;
}

.btn{
    background-color: lightpink;
    width: 100%;
    color: white;
    border-radius: 0%;
}

.btn:hover{
    color: black;
}

.navbar a{
    color: peru;
    font: bold;
}

.oi-browser{
    padding: 0 5px 0 5px;
}
footer a{
    color: white;
}

footer a:hover{
    color: black;
    text-decoration: none;
}

