$peru:#edc707;
@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: burlywood;
    color: black;
    @include margenes(50px, 50px )
}

footer{
    padding: 10px 10px 0 10px;
    background-color: burlywood;
    @include margenes(10px,0px );
    bottom: 0;
    color: white;
}

.btn-warning{
    width: 100%;
    color: white;
    border-radius: 0%;
}



.navbar a{
    color:$peru;
    font: bold;
}

.oi-browser{
    padding: 0 5px 0 5px;
}
footer a{
    color: white;
}

footer a:hover{
    color: black;
    text-decoration: none;
}